.forum {
    flex: 4;
   
  }
  .forumWidgets__{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
     
.post__ {
  margin: 0.5rem 0rem 0.5rem 0;
  /* padding: 1.5rem; */
  width: 70%;
  box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);
  transition: transform .3s ease;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid lightgray;

}

.post__:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.post__ .body {
  flex: 60%;
  align-items: center;
  display: grid;
  place-content: center;
  background-color: rgb(225, 235, 245);
  padding: 10px;
}


.post__ .footer {
  flex: 20%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  color: white;
  background-color: rgb(225, 235, 245);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.post__ .title {
  flex: 20%;
  display: grid;
  place-content: center;
  background-color: rgb(225, 235, 245);
  color: blue
  
}


.footer .username {
  flex: 50%;
}
.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likeBttn {
  color: rgba(250, 250, 250, 0.8);
}
.unlikeBttn {
  color: white;
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
  